<div class="hero_area">
  <!-- slider section -->
  <section class="slider_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <h1>Repair and Maintenance Services</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui harum voluptatem adipisci. Quos molestiae saepe dicta nobis pariatur, tempora iusto, ad possimus soluta hic praesentium mollitia consequatur beatae, aspernatur culpa.
            </p>
            <a href="">Contact Us</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="./assets/slider-img.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end slider section -->

<!-- feature section -->
<section class="feature_section">
  <div class="container">
    <div class="feature_container">
      <div class="box">
        <div class="img-box">
          <div class="zz">
          <img class="feature-img" src="./assets/repair.jpg" alt="Repair">
          </div>
        </div>
        <h5 class="name">Repair</h5>
      </div>
      <div class="box active">
        <div class="img-box">
          <div class="zz">
          <img class="feature-img" src="./assets/improve.png" alt="Improve">
        </div>
        </div>
        <h5 class="name">Improve</h5>
      </div>
      <div class="box">
        <div class="img-box">
          <div class="zz">
          <img class="feature-img" src="./assets/maintain.png" alt="Maintain">
        </div>
        </div>
        <h5 class="name">Maintain</h5>
      </div>
    </div>
  </div>
</section>

<!-- end feature section -->


  <!-- about section -->
  <section class="about_section layout_padding-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6">
          <div class="detail-box">
            <h2>About us</h2>
            <p>
              There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
            </p>
            <a href="">Read More</a>
          </div>
        </div>
        <div class="col-lg-7 col-md-6">
          <div class="img-box">
            <img src="./assets/about-img.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->

  <!-- professional section -->
  <section class="professional_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="./assets/professional-img.png" alt="slider-img">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <h2>We Provide Professional Home Services.</h2>
            <p>
              Randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden.
            </p>
            <a href="">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end professional section -->

  <!-- service section -->
  <section class="service_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>Our Services</h2>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="./assets/s1.png" alt="">
            </div>
            <div class="detail-box">
              <h5>Maintenance</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="./assets/s2.png" alt="">
            </div>
            <div class="detail-box">
              <h5>Electrical</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="./assets/s3.png" alt="">
            </div>
            <div class="detail-box">
              <h5>Plumbing</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end service section -->

  <!-- client section -->
  <section class="client_section">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>What Our Clients Say</h2>
      </div>
      <div class="carousel-wrap layout_padding2-top">
        <div class="owl-carousel">
          <div class="item">
            <div class="box">
              <div class="client_id">
                <div class="img-box">
                  <img src="./assets/client-1.jpg" alt="">
                </div>
                <div class="client_detail">
                  <div class="client_info">
                    <h6>Jorch morik</h6>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="client_text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>
          <!-- Repeat items for clients -->
        </div>
      </div>
    </div>
  </section>
  <!-- end client section -->

  <!-- contact section -->
  <section class="contact_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>Contact Us</h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <form action="">
            <div><input type="text" placeholder="Name"></div>
            <div><input type="text" placeholder="Phone Number"></div>
            <div><input type="email" placeholder="Email"></div>
            <div><input type="text" class="message-box" placeholder="Message"></div>
            <div class="d-flex"><button>SEND</button></div>
          </form>
        </div>
        <div class="col-md-6">
          <div class="map_container">
            <div class="map">
              <div id="googleMap" style="width:100%;height:100%;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->
</div>
