<div class="blur-background" *ngIf="show"></div>
<div class="popup-container" *ngIf="show">
    <div class="popup-content">
        <span (click)="closePopup()" class="close-button">&times;</span>
        <div class="worker-profile">
            <img [src]="worker.image" alt="Worker Image" class="card__image" />
            <h2 class="worker-name">{{ worker.firstname }} {{ worker.lastname }}</h2>
        </div>
        <div class="worker-details">
            <p><i class="fas fa-briefcase"></i> <strong>Occupation:</strong> {{ worker.occupation }}</p>
            <p><i class="fas fa-envelope"></i> <strong>Email:</strong> {{ worker.email }}</p>
            <p><i class="fas fa-phone"></i> <strong>Phone:</strong> {{ worker.phone }}</p>
            <p><i class="fas fa-map-marker-alt"></i> <strong>Address:</strong> {{ worker.address }}</p>
            <p><i class="fas fa-star"></i> <strong>Experience:</strong> {{ worker.expyear }} years</p>
            <p><i class="fas fa-info-circle"></i> <strong>Service Description:</strong> {{ worker.serviceDescription }}
            </p>
        </div>
        <div class="button-container">
            <button class="card__contact-button" (click)="contactWorker(worker.phone)">
                <i class="fas fa-phone-alt"></i> Call
            </button>
            <button class="card__email-button" (click)="sendEmail(worker.email)">
                <i class="fas fa-paper-plane"></i> Send Email
            </button>
        </div>
    </div>
</div>